<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>SENMAA LOGISTIC SOLUTIONS PRIVATE LIMITED</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 
    <link rel="stylesheet" href=" {% static 'fonts/icomoon/style.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/jquery-ui.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/bootstrap-datepicker.css' %} ">

    <link rel="stylesheet" href=" {% static 'fonts/flaticon/font/flaticon.css' %} ">



    <link rel="stylesheet" href=" {% static 'css/aos.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-3" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-2">
            <h1 class="mb-0"><a href=" {% static 'index.html' %} " class="text-white h2 mb-0">Logistics</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href=" {% url 'home' %} ">Home</a></li>
                <li><a href=" {% url 'about_us' %} ">About Us</a></li>
                <li class="has-children">
                  <a href="#">We Offer</a>
                  <ul class="dropdown">
                    <li><a href="home#services_list">Air Freight</a></li>
                    <li><a href="home#services_list">Ocean Freight</a></li>
                    <li><a href="home#services_list">Ground Shipping</a></li>
                    <li><a href="home#services_list">Warehousing</a></li>
                    <li><a href="home#services_list">Storage</a></li>
                  </ul>
                </li>
                <li><a href=" {% url 'services' %} ">services</a></li>
                <li><a href=" {% url 'contact' %} ">Contact</a></li>
              </ul>
            </nav>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

  

    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url( {% static 'images/hero_bg_1.jpg' %} );" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
            <h1 class="text-white font-weight-light text-uppercase font-weight-bold">About Us</h1>
            <p class="breadcrumb-custom"><a href=" {% static 'index.html' %} ">Home</a> <span class="mx-2">&gt;</span> <span>About Us</span></p>
          </div>
        </div>
      </div>
    </div>  

    

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          
          <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade">
            <img src=" {% static 'images/img_1.jpg' %} " alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-6 order-md-1" data-aos="fade">
            <div class="text-left pb-1 border-primary mb-4">
              <h2 class="text-primary">Our History</h2>
            </div>
            <p>Senmaa Logistic Solutions is a reputable name in the logistics industry, with a rich history of delivering excellence in transportation and supply chain management. Since our inception in [Year of Establishment], we have been committed to providing top-notch logistics solutions to businesses of all sizes across the globe.
            </p>
            <p class="mb-5">Our journey began with a vision to revolutionize the logistics landscape by offering reliable, cost-effective, and customer-centric services. Over the years, we have grown from a small enterprise to a leading logistics provider with a strong presence in domestic and international markets.</p>

            <div class="row">
              <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                <div class="unit-4">
                  <div class="unit-4-icon mb-3 mr-4"><span class="text-primary flaticon-frontal-truck"></span></div>
                  <div>
                    <h3>Ground Shipping</h3>
                    <p>At Senmaa Logistic Solutions, we offer dependable ground shipping solutions to meet your domestic transportation needs. With a strong network of carriers and a fleet of reliable vehicles, we ensure timely deliveries and seamless logistics for your shipments.
                    </p>
                    <p class="mb-0"><a href="#">Learn More</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                <div class="unit-4">
                  <div class="unit-4-icon mb-3 mr-4"><span class="text-primary flaticon-travel"></span></div>
                  <div>
                    <h3>Air Freight</h3>
                    <p>At Senmaa Logistic Solutions, we specialize in providing efficient and reliable air freight solutions to move your goods across the globe with speed and precision. With years of experience in the industry and a well-established network of airline partners, we ensure that your shipments reach their destination on time, every time.
                    </p>
                    <p class="mb-0"><a href="#">Learn More</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  
    <div class="site-section bg-image overlay" style="background-image: url(' {% static 'images/hero_bg_4.jpg' %} ');">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary" data-aos="fade">How It Works</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="how-it-work-item">
              <span class="number">1</span>
              <div class="how-it-work-body">
                <h2>Choose Your Service</h2>
                <p class="mb-5">Thank you for choosing Senmaa Logistic Solutions! We are delighted to offer you a wide range of reliable and efficient logistics services to meet your transportation and supply chain needs. Please explore our services below and select the one that best suits your requirements:</p>
                <ul class="ul-check list-unstyled white">
                  <li class="text-white">Air Freight: Swift and reliable air freight services for time-sensitive and global shipments.</li>
                  <li class="text-white">Ocean Freight: Cost-effective sea transportation for larger and heavier cargo across international waters.</li>
                  <li class="text-white">Warehousing: Secure and flexible storage options to accommodate your inventory needs.</li>
                  <li class="text-white">Storage: Safe and secure storage solutions for short-term and long-term requirements.</li>
                  <li class="text-white">Ground Shipping: Nationwide coverage with timely and versatile ground shipping solutions for domestic shipments.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="how-it-work-item">
              <span class="number">2</span>
              <div class="how-it-work-body">
                <h2>Select Your Payment</h2>
                <p class="mb-5">Thank you for choosing Senmaa Logistic Solutions for your logistics needs. We offer various secure and convenient payment options to make your transaction process smooth and hassle-free. Please select your preferred payment method from the following options:</p>
                <ul class="ul-check list-unstyled white">
                  <li class="text-white">Credit/Debit Card: Pay securely using your Visa, MasterCard, American Express, or Discover credit/debit card. We use encrypted payment gateways to safeguard your financial information.</li>
                  <li class="text-white">Bank Transfer: Transfer the payment directly from your bank account to ours. Our bank details will be provided upon selecting this option.</li>
                  <li class="text-white">PayPal: Use your PayPal account to make a secure payment. PayPal offers a trusted and widely used online payment platform.</li>
                  <li class="text-white">Electronic Funds Transfer (EFT): Make an electronic transfer of funds directly to our account. Our EFT details will be provided upon selecting this option.</li>
                  <li class="text-white">Invoice: If you have a credit account with us, you can choose to pay using the invoice option. Our finance team will issue an invoice for your payment.</li>
                  <li class="text-white">Cash on Delivery (COD): For select services and locations, you can choose to pay in cash upon delivery of your shipment. Please note that COD may not be available for all services.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="how-it-work-item">
              <span class="number">3</span>
              <div class="how-it-work-body">
                <h2>Tracking Your Order</h2>
                <p class="mb-5">Thank you for choosing Senmaa Logistic Solutions. We understand the importance of tracking your order to stay informed about its status and ensure a smooth delivery process. To track your order, please follow these simple steps:</p>
                <ul class="ul-check list-unstyled white">Order Tracking Number: Locate the unique tracking number provided to you at the time of booking or shipment confirmation. This tracking number is essential to retrieve the real-time status of your order.Error minus sint nobis dolor</li>
                  <li class="text-white">Tracking Section: Once on our website, navigate to the "Tracking" section. This can typically be found in the header or footer menu for easy access.</li>
                  <li class="text-white">Track Your Order: Click on the "Track" or "Submit" button to initiate the tracking process. Our system will retrieve the latest updates on your shipment's whereabouts.</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    <div class="site-section border-bottom">
      <div class="container">

        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Testimonials</h2>
          </div>
        </div>

        <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src=" {% static 'images/person_3.jpg' %} " alt="Image" class="img-fluid mb-3">
                <p>John Smith</p>
              </figure>
              <blockquote>
                <p>&ldquo;We have been working with Senmaa Logistic Solutions for our warehousing needs, and they have consistently delivered exceptional service. Their modern facilities and efficient inventory management system have streamlined our supply chain operations. The team's attention to detail and personalized approach have made them an invaluable part of our business. We trust Senmaa Logistic Solutions to handle our inventory with care and professionalism.&rdquo;</p>
              </blockquote>
            </div>
          </div>
          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src=" {% static 'images/person_2.jpg' %} " alt="Image" class="img-fluid mb-3">
                <p>Christine Aguilar</p>
              </figure>
              <blockquote>
                <p>&ldquo;As a manufacturer, we rely on timely shipments to meet production deadlines. Senmaa Logistic Solutions has been instrumental in delivering our raw materials and finished products with precision. Their ocean freight services are cost-effective and reliable, helping us expand our market reach globally. Senmaa Logistic Solutions' expertise in logistics has made a significant impact on our business growth, and we highly recommend their services to fellow manufacturers.&rdquo;</p>
              </blockquote>
            </div>
          </div>

          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src=" {% static 'images/person_4.jpg' %} " alt="Image" class="img-fluid mb-3">
                <p> Michael Roberts, Owner of Trendy Haven</p>
              </figure>
              <blockquote>
                <p>&ldquo;We have been working with Senmaa Logistic Solutions for our warehousing needs, and they have consistently delivered exceptional service. Their modern facilities and efficient inventory management system have streamlined our supply chain operations. The team's attention to detail and personalized approach have made them an invaluable part of our business. We trust Senmaa Logistic Solutions to handle our inventory with care and professionalism&rdquo;</p>
              </blockquote>
            </div>
          </div>

          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src=" {% static 'images/person_5.jpg' %} " alt="Image" class="img-fluid mb-3">
                <p>John Davis, Supply Chain Manager at Reliable Electronics Corp</p>
              </figure>
              <blockquote>
                <p>&ldquo;As a growing e-commerce business, we needed a logistics company we could trust. Senmaa Logistic Solutions exceeded our expectations with their ground shipping services. With timely deliveries and real-time tracking, we can confidently fulfill our customer orders. Their customer support team is always responsive and goes the extra mile to assist us. Senmaa Logistic Solutions has been instrumental in our success, and we look forward to a continued partnership.&rdquo;</p>
              </blockquote>
            </div>
          </div>

        </div>
      </div>
    </div>

    
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'home' %}">home</a></li>
                  <li><a href="{% url 'about_us' %}">About Us</a></li>
                  <li><a href="{% url 'services' %}">Services</a></li>
                  <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Products</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'home' %}">home</a></li>
                  <li><a href="{% url 'about_us' %}">About Us</a></li>
                  <li><a href="{% url 'services' %}">Services</a></li>
                  <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'home' %}">home</a></li>
                  <li><a href="{% url 'about_us' %}">About Us</a></li>
                  <li><a href="{% url 'services' %}">Services</a></li>
                  <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> ©2023 SENMAA LOGISTIC SOLUTIONS Pvt Ltd. All Rights Reserved Design <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
  <script src=" {% static 'js/jquery-migrate-3.0.1.min.js' %} "></script>
  <script src=" {% static 'js/jquery-ui.js' %} "></script>
  <script src=" {% static 'js/popper.min.js' %} "></script>
  <script src=" {% static 'js/bootstrap.min.js' %} "></script>
  <script src=" {% static 'js/owl.carousel.min.js' %} "></script>
  <script src=" {% static 'js/jquery.stellar.min.js' %} "></script>
  <script src=" {% static 'js/jquery.countdown.min.js' %} "></script>
  <script src=" {% static 'js/jquery.magnific-popup.min.js' %} "></script>
  <script src=" {% static 'js/bootstrap-datepicker.min.js' %} "></script>
  <script src=" {% static 'js/aos.js' %} "></script>

  <script src=" {% static 'js/main.js' %} "></script>
    
  </body>
</html>